

/*Container*/
#container {
  width: 1178px;
  background-color: white;
  }
/*Header*/
#header {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

#navbar{
  line-height: 54px;
  display: flex;
}

.navbar-item{
  margin-left: 16px;
}

.logo-wrapper{
  display: flex;
}

.logo {
  font: arial;
  font-size: 24px;
  line-height: 54px;
  font-family: monospace;
}

.logo-img {
  width: 64px;
  padding-left: 24px;
}

.logo-img img{
  height: 100%;
}

/*Section 1 content*/

.section {
  display: flex;
  background-color: lightgray;
  font-family: monospace;
  /*border: 1px solid lightgray;*/
}

#contentarea {
  border: 1px solid lightgray;
}

.section_col2{
  background-color: white;
}

.sleft {
  margin-top: 32px;
  margin-left: 24px;
  margin-right: 40px;
  margin-bottom: 32px;
  width: 60%;
}

.bannerimg {
  width: 100%;
}
.srighttext {
  margin-top: 200px;
  width: 300px;

}
.srightbutton {
  width: 300px;
  line-height: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid darkgrey;
  background-color: darkgrey;
}
/*Section 2 content*/
.sleft2 {
  margin-top: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  width: 60%;
}

.signaturetext {
  padding-top: 20px;
  padding-bottom: 30px;
}
.sright2 {
  width: 423px;
  margin-top: 32px;
}

.srightbox {
  display: flex;
}

.srightbox_img{
  flex-basis: 35%;
  /*margin-top: 32px;*/
  margin-left:16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.first-imageright {
  width: 100%;
}

.srightbox_text {
  margin-top: 28px;
}

.srightbox-text1 {
  font-weight: bold;
}

.smallertextlink {
  color: blue;
  padding-top: 1rem;
}

.smallertext3 {
  margin:0;
  padding-bottom: 8px;
}

.smallertextlink3 {
  color: blue;
  margin:0;
  padding-top: none;
}

/*Section 3 content*/
.section3header {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section3 {
  background-color: lightgray;
  font-family: monospace;
  border: 1px solid lightgray;

}

.classes-containers {
  display: flex;
  justify-content: space-between;
  width:80%;
  margin: 0 auto;
}

.coursetext {
  background-color: white;
  margin-top: -18px;
  padding: 16px;
}

.classes {
  flex-basis: 30%;
}

.classes img{
  width: 100%;
  margin: 0;
  padding: 0;
}

/*section 4*/
.section4header {
  background-color: white;
  font-family: monospace;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;

}

/*footer*/

footer {
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 32px;
  background-color: white;
  font-family: monospace;
}

#navbar2{
  display: inline-flex;
  font-family: monospace;
}
